body, button, textarea {
    font-family: JetBrains Mono;
    background-color: #e5fdfb;
    margin: 0px;
    font-size: 16px;
}

.hcenter {
    margin: auto;
    text-align: center;
}

.menu {
    background: url("images/background.png") center no-repeat;
    background-size: cover;

    padding-top: 20px;
    padding-bottom: 100px;

}

.header {
    border: 4px groove blue;
    border-radius: 15px;
    padding: 20px 50px;
    
    font-size: max(25px, 5vw);

    background-color: #cbfffc;

    width: fit-content;
    margin-top: 30px;
    margin-bottom: 100px;

    cursor: pointer;
}

.tabs {
    overflow: hidden;
    background-color: #cbfffc;
    width: fit-content;

    border: 3px groove blue;
    border-radius: 7px;

    font-size: max(16px, 1.5vw);
}
  
.tabs a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    transition: background 0.8s ease;

    border-right: 2px groove blue;
}

.tabs .right {
    border-right: 0;
}

.tabs a:hover {
    background-color: #42fff6;
}

.menu-gradient {
    background-image: linear-gradient(#cbfffc, #e5fdfb);
    height: 40px;
}

.footer {
    background-image: linear-gradient(#e5fdfb, #cbfffc);

    width: 100%;
    position: relative;
    padding-top: 50px;
    height: 30px;
    bottom: 0;

    font-size: 15px;
}

.example {
    color: #555555;
    border: 1px groove #555555;
    border-radius: 4px;
    padding: 2px;
    background-color: #cbfffc;
    width: fit-content;
    white-space: nowrap;
    line-height: 1.8;
}

.content {
    margin: 15px;
    line-height: 1.7;
}

ul {
    list-style-type: disc;
    padding-left: 10px;
}

.sup {
    position: relative;
    bottom: 1ex; 
    font-size: 80%;
}

a {
    text-decoration: underline;
    text-decoration-color: #555555;
    text-underline-offset: 3px;
    color: #555555;
}

.logic-table {
    border-collapse: collapse;
    margin: 5px 0px;
}

.logic-table tr, th, td {
    text-align: center;
    border: 1px solid #555555;
    padding: 2px 12px;
}

.logic-table th {
    background-color: #cbfffc;
}

.collapsible {
    cursor: pointer;
    text-align: center;
    color: black;
    border: none;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 3px;
    transition: 0.2s ease-out;
    padding-left: 0px;
}

.collapsible-no-underline {
    cursor: pointer;
    text-align: center;
    color: black;
    border: none;
    transition: 0.2s ease-out;
    padding-left: 0px;
}

h4 {
    margin: 5px 0px;
}

.collapsible:hover {
    text-decoration-color: black;
}

.coll-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.coll-active {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.note {
    font-size: 50%;
    color: #555555;
}

.no-js {
    background-color: red;
    height: 10vw;
    font-size: 8vw;
}

.lista-tautologii {
    margin: 0px 10px;
}

.lista {
    margin-left: 10px;
    margin-top: 0px;
}

.input {
    width: 50%;
    min-width: 100px;
    max-width: 50%;
    height: 30vh;
    min-height: 30px;
    max-height: 50vh;
    background-color: #cbfffc;
    border: 3px groove #555555;
    border-radius: 7px;
    margin-bottom: 10px;
}

.submit {
    border: 3px groove #555555;
    border-radius: 4px;
    padding: 8px;
    background-color: #cbfffc;
    transition: background 0.8s ease;
}

.submit:hover {
    background-color: #42fff6;
}

.result {
    display: none;
}