body {
    background-color: #e5fdfb;
    margin: 0px;
}

.hcenter {
    margin: auto;
    text-align: center;
}

.menu {
    background: url("images/photo.jpg") center no-repeat;
    background-size: cover;

    padding-top: 20px;
    padding-bottom: 150px;

}

.header {
    border: 4px groove blue;
    border-radius: 15px;
    padding: 20px 50px;
    
    font-size: 80px;

    background-color: #cbfffc;

    width: fit-content;
    margin-top: 100px;

    cursor: pointer;
}

.tabs {
    overflow: hidden;
    background-color: #cbfffc;
    width: fit-content;

    border: 2px groove blue;
    border-radius: 5px;

    font-size: 15px;
}
  
.tabs a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.tabs a:hover {
    background-color: #95fffa;
}
  
.tabs a.active {
    background-color: #42fff6;
}

.menu-gradient {
    background-image: linear-gradient(#cbfffc, #e5fdfb);
    height: 40px;
}

.footer {
    background-image: linear-gradient(#e5fdfb, #cbfffc);

    width: 100%;
    bottom: 0;
    position: absolute;
    padding-top: 50px;
    height: 30px;

    font-size: 15px;
}